<header>
    <div class="hero-text-box">
        <h1>Alpha Blog</h1>
    </div>
    <div class="menu">
        <a class="btn btn-ghost" <%= link_to 'Home', root_path %></a>
        <a class="btn btn-ghost" <%= link_to 'About', about_path %></a>
    </div>
            
            
</header>

